---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

html {
    // font-size: 10px; // change to whatever
  
    @include breakpoint($small){
      font-size: 15px; // change to whatever
    }

    @include breakpoint($medium) {
      font-size: 16px; // change to whatever
    }
  
    @include breakpoint($large) {
      font-size: 17px; // change to whatever
    }
  
    @include breakpoint($x-large) {
      font-size: 18px; // change to whatever
    }
  }

.layout--post .page__content {
  font-size: calc(1em - 1pt);
}
